#################
## R packages
*.Rproj
.Rhistory
#*NAMESPACE
#man/*.Rd
*~
*coter*.txt
auto/
*.tex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex
*.synctex.gz
*.dvi
*.pdf
.Rproj.user
.Rdata
data-raw/MI_albatross_final.csv
data-raw/nform.r
data-raw/mia.r
inst/doc
.httr-oauth
sample_data_trip.txt